#app-view {

    --top-height: 55px;
    --bottom-height: 30px;

    height: 100vh !important;
    width: 100vw !important;

    min-height: 100vh;
    min-width: 100vw;

    max-height: 100vh;
    max-width: 100vw;

    position: relative;

    -webkit-app-region: no-drag;

}

.loading-drag-window {

    -webkit-app-region: drag;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#app-view > .top {

    position: absolute;
    width: 100vw;
    height: var(--top-height);
    top: 0;
    left: 0;

}

#app-view > .main {

    position: absolute;
    left: 0;
    right: 0;
    top: var(--top-height);
    bottom: var(--bottom-height);

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

#app-view > .bottom {

    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--bottom-height);

}