#lander-view > .container {

    width: 100vw;
    height: calc(100vh - 2em);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0 0 2em 0;

    -webkit-app-region: drag;

}

#lander-view .interactable {

    -webkit-app-region: no-drag !important;

}

#lander-view  h1 {

    font-size: 4rem;
    font-weight: 400;
    line-height: 4rem;

}

#lander-view h3 {

    font-weight: 300;
    margin: 2px 0 0 0;
    cursor: pointer;

}

#lander-view ul {

    list-style: none;
    text-align: center;

}

@keyframes projectHoverIcon {

    0% {

        opacity: 0;
        margin: 0;

    }

    100% {

        opacity: 1.0;
        margin: 0 0 0 2em;

    }

}

#lander-view ul > li {

    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    border-bottom: solid 2px rgba(255, 255, 255, 0.074);
    cursor: pointer;

}

#lander-view ul > li > p {

    margin: 0 2em;

}

#lander-view ul > li > .icon {

    margin: 0;
    display: none;

}

#lander-view ul > li:hover > .icon {

    animation: projectHoverIcon 1s ease-out;
    margin: 0 0 0 2em;
    display: block;

}

#lander-view ul > li:hover > p {
    
    margin: 0;

}

#lander-view ul > li:last-of-type {

    border-bottom: none;

}

#lander-view .logo {

    width: 150px;
    height: auto;

}

#lander-view .fading-content {

    position: absolute;
    top: 15em;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    margin: 4em 0 0 0;

}

#lander-view .fading-content .recent-projects {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;

}

#lander-view .fading-content > .control-buttons {

    margin: 0 0 2em 0;

}

#lander-view .fading-content > .control-buttons > .icon {

    font-size: 2rem;
    margin: 0 1em;
    opacity: 0.75;
    cursor: pointer;

}

#lander-view .fading-content > .control-buttons > .icon:hover {

    opacity: 1.0;

}

@keyframes slideAndFade {

    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50vh) scale(0.8);
    }

}

@keyframes fadeIn {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

#lander-view .sliding-content {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideAndFade 1.5s ease-in-out forwards;

}

#lander-view .fading-content.fadeIn {

    animation: fadeIn 1s linear;
    opacity: 1;

}
