#cue-list {

    /* Variables */
    --cue-row-height: 35px;

    border-collapse: collapse;
    margin: 0;
    font-size: 1ch;
    min-width: 400px;
    table-layout: auto;
    width: 100%;
    font-size: 1rem;
    max-height: 100% !important;

    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;

}

#cue-list input.hidden-input {

    width: 100%;
    height: 100%;
    margin: 0;

}

#cue-list th {

    resize: horizontal;
    background-color: var(--table-header-color);
    border-top: 1px solid var(--divider-color);
    border-right: 1px solid var(--divider-color);
    border-bottom: 1px solid var(--divider-color);
    font-size: 0.95rem;
    position: sticky;
    top: 0;
    z-index: 10;
    border-radius: 0;

}

#cue-list th:last-of-type {
    border-right: none !important;
}

#cue-list th:first-of-type {
    border-left: none !important;
}

#cue-list th,
#cue-list td {

    padding: 0.25em;
    text-align: left;
    overflow: auto;

}

#cue-list th.rigid {

    overflow: unset !important;

}

#cue-list td {

    border-bottom: solid rgb(15, 15, 15) 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

#cue-list td.info {

    height: 100%;
    padding: 0;
    position: relative;

}

#cue-list td.info .machine-id {

    width: 5px;
    height: var(--cue-row-height);
    background-color: slategray;

}

#cue-list tbody tr {

    background-color: var(--background-color);
    cursor: default !important;
    height: var(--cue-row-height);

}

#cue-list tbody tr>td:first-of-type {

    border-right: solid 1px var(--divider-color);

}

#cue-list tbody tr.selected {

    background-color: var(--selection-color) !important;

}

#cue-list tbody tr:nth-child(even) {

    background-color: var(--table-header-color);

}