#cue-list {
    --cue-row-height: 35px;

    border-collapse: collapse;
    margin: 0;
    font-size: 1ch;
    min-width: 400px;
    table-layout: auto;
    width: 100%;
    font-size: 1rem;
    max-height: 100% !important;
    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;

}


#cue-list input.hidden-input {

    width: 100%;
    height: 100%;
    margin: 0;

}

#cue-list th {

    resize: horizontal;
    background-color: var(--table-header-color);
    border-top: 1px solid var(--divider-color);
    border-right: 1px solid var(--divider-color);
    border-bottom: 1px solid var(--divider-color);
    font-size: 0.95rem;
    position: sticky;
    top: 0;
    z-index: 10;
    border-radius: 0;

}

#cue-list tbody {

    position: relative;

}

#cue-list th:last-of-type {
    border-right: none !important;
}

#cue-list th:first-of-type {
    border-left: none !important;
}


#cue-list th,
#cue-list td {

    padding: 0.25em;
    text-align: left;
    overflow: auto;

}


#cue-list th.rigid {

    overflow: unset !important;

}

#cue-list td {

    border-bottom: solid rgb(15, 15, 15) 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

#cue-list td.info {

    padding: 0;
    position: relative;

}


#cue-list td.info .machine-id {

    width: 5px;
    height: var(--cue-row-height);
    background-color: slategray;

}

#cue-list tbody tr {

    background-color: var(--background-color);
    cursor: default !important;
    height: var(--cue-row-height);

}

#cue-list tbody tr>td:first-of-type {

    border-right: solid 1px var(--divider-color);

}

#cue-list tbody tr.selected {

    background-color: var(--selection-color) !important;

}

#cue-list tbody tr.odd {

    background-color: var(--table-header-color);

}

#cue-list tbody tr.drop-target {

    --height: 30px;

    background-color: transparent;
    position: absolute;
    width: 100%;
    border: none;
    height: var(--height);
    transform: translateY(calc((var(--height) / 2) * -1));

}

#cue-list tbody tr.drop-target .light {

    --local-height: 5px;

    opacity: 0;
    height: var(--local-height);
    width: 100%;
    background-color: rgb(118, 193, 118) !important;
    transform: translateY(calc(var(--height) / 2 - var(--local-height) / 2));
    border: none;

}

#cue-list tbody tr.drop-target.hovered > .light {

    opacity: 1;
    
}

#DND-cue-drag-image {

    display: none;
    color: green;

}