#header {

    width: 100vw;
    height: 55px;
    min-height: 55px;
    max-height: 55px;
    background-color: var(--application-header-color);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-app-region: drag;
}

#header .back-arrow {

    --size: 30px;

    width: var(--size);
    height: var(--size);

    position: relative;
    cursor: pointer;
    
    -webkit-app-region: no-drag;

}

#header .back-arrow > .arrow {

    position: absolute;
    height: 18px;
    width: 18px;

    border-top: 4px solid;
    border-left: 4px solid;
    border-color: var(--text-color);
    border-radius: 2px;

    transition: 0.4s ease;
    transform: rotate(45deg);

    top: 6px;
    left: 10px;

    transform: rotate(-45deg);

}

#header .back-arrow:hover > .arrow {

    filter: brightness(60%);

}

#header > div {

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

}

#header > div:first-of-type {

    justify-content: flex-start;
    padding: 0 0 0 2em;

}

#header > div:last-of-type {

    justify-content: flex-end;
    padding: 0 2em 0 0;

}

#header .project-name {

    font-size: 1.5rem;
    padding: 0;
    text-align: center;
    font-weight: bold;
    -webkit-app-region: no-drag;

}

#header .settings-btn {

    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-app-region: no-drag;

}