#status-bar {

    --height: 30px;

    width: 100vw;
    height: var(--height);
    min-height: var(--height);
    background-color: #555555;

    display: flex;
    justify-content: center;
    align-items: center;

}